<!DOCTYPE HTML>
<html data-ng-app="app">
<head>
    <meta charset="utf-8">
    <meta name="author" content="terratenff">
    <title>{% block title %}Root Title{% endblock title %}</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-animate.min.js"></script>
    {% load static %}
    <script src="{% static 'secondfloor/js/toolbox_functions/app.js' %}"></script>
    <script src="{% static 'secondfloor/js/toolbox_functions/services.js' %}"></script>
    <script src="{% static 'secondfloor/js/toolbox_functions/controllers.js' %}"></script>
</head>
<body>
    <div id="topbar">
        <div id="topbar_functions">
            <ul id="topbar_functions_list">
                <li><a href="{% url 'secondfloor:index' %}">Home</a></li>
                <li><a href="{% url 'secondfloor:profile' %}">Profile</a></li>
                <li><a href="{% url 'secondfloor:people' %}">People</a></li>
                <li><a href="{% url 'secondfloor:groups' %}">Groups</a></li>
                <li><a href="{% url 'secondfloor:forum' %}">Forum</a></li>
                <li><a href="{% url 'secondfloor:events' %}">Events</a></li>
                {% if user.is_authenticated %}
                <li><a href="{% url 'secondfloor:login' %}">Log Out</a></li>
                {% else %}
                <li><a href="{% url 'secondfloor:login' %}">Log In</a></li>
                {% endif %}
            </ul>
        </div>
        <div id="searchbox">
            <form
                action="{% url 'secondfloor:search' %}"
                method="post"
                id="searchform">
                {% csrf_token %}
                <input type="text" placeholder="Search..." name="search">
                <input type="submit" value="Search">
            </form>
        </div>
        <div id="toolbox" data-ng-controller="ToolboxCtrl">
            <div id="toolbox_cover" data-ng-click="viewOptions()"></div>
            <p>{% verbatim %}{{ frontText }}{% endverbatim %}</p>
            <div id="toolbox_options" data-ng-show="visible">
                <p>Add various tools here</p>
            </div>
        </div>
    </div>
    <div id="page_top">
        {% block pagetitle %}
        <h1>Website Title</h1>
        {% endblock pagetitle %}
    </div>

    <div id="content">
        {% block content %}
        <p>Root HTML</p>
        {% endblock content %}
        <input type="button" value="Dark Mode" onclick="toggleDarkMode()"/>
        <div data-ng-controller="TestCtrl">
            <p>Hexadecimal</p>
            <input type="number" data-ng-model="userInput" data-ng-change="changed()">
            <p>Results</p>
            <p>{% verbatim %}{{ userInput }}{% endverbatim %}</p>
            <p>{% verbatim %}{{ userOutput }}{% endverbatim %}</p>
        </div>
    </div>

    <div id="page_bottom_decorator"></div>
    <div id="page_bottom">
        <div class="page_bottom_container">
            <ul class="page_bottom_list">
                <li><a href="{% url 'secondfloor:index' %}">Home</a></li>
                <li><a href="{% url 'secondfloor:profile' %}">Profile</a></li>
                <li><a href="{% url 'secondfloor:about' %}">About</a></li>
                <li><a href="{% url 'secondfloor:contact' %}">Contact</a></li>
            </ul>
        </div>
        <div class="page_bottom_container">
            <ul class="page_bottom_list">
                <li><a href="{% url 'secondfloor:help' %}">Help</a></li>
                <li><a href="{% url 'secondfloor:rules' %}">Rules</a></li>
                <li><a href="{% url 'secondfloor:guidelines' %}">Guidelines</a></li>
                <li><a href="{% url 'secondfloor:reportabuse' %}">Report Abuse</a></li>
            </ul>
        </div>
        <div class="page_bottom_container">
            <ul class="page_bottom_list">
                <li><a href="{% url 'secondfloor:privacypolicy' %}">Privacy Policy</a></li>
                <li><a href="{% url 'secondfloor:feedback' %}">Feedback</a></li>
                <li><a href="{% url 'secondfloor:customersupport' %}">Customer Support</a></li>
                <li><a href="{% url 'secondfloor:reportbug' %}">Report a Bug</a></li>
            </ul>
        </div>
    </div>

    <script type="text/javascript" src="{% static 'secondfloor/js/cookie_functions.js' %}"></script>
    <script type="text/javascript" src="{% static 'secondfloor/js/dark_mode.js' %}"></script>
    <script type="text/javascript" src="{% static 'secondfloor/js/privacy_notice.js' %}"></script>
</body>
</html>
