body {
    background-color: black;
    padding: 0px;
    margin: 0px;
}

#topbar {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 50px;
    background-color: #444444;
    border-bottom: 5px solid white;
}

#topbar_functions {
    float: left;
}

#topbar_functions_list {
    list-style: none;
    padding-left: 0px;
}

#topbar_functions_list > li {
    display: inline;
    padding: 10px;
    color: #dddddd;
    font-family: sans-serif;
}

#topbar_functions_list > li:hover {
    background-color: #cccccc;
}

#topbar_functions_list li a {
    margin: 0px;
    display: inline;
    color: #dddddd;
    text-decoration: none;
    width: 100%;
    height: 100%;
}

#toolbox {
    display: flex;
    width: 82px;
    height: inherit;
    align-items: center;
    box-sizing: border-box;
    border: 3px solid #cccccc;
}

#toolbox_cover {
    display: flex;
    cursor: pointer;
    width: inherit;
    height: inherit;
    margin-left: -13px;
    align-items: center;
    position: absolute;
}

#toolbox_cover:hover {
    background-color: white;
    opacity: 0.5;
}

#toolbox > p {
    color: white;
    font-size: 16px;
    font-family: sans-serif;
}

#toolbox_options {
    position: fixed;
    padding: 5px;
    right: 10px;
    top: 60px;
    width: 300px;
    height: 50%;
    background-color: #444444;
    border: 5px solid white;
}

#toolbox_options > p {
    margin: 0;
    font-size: 16px;
    font-family: sans-serif;
    color: white;
}

#searchbox {
    display: flex;
    align-items: center;
    height: inherit;
}

#searchbox input[type=text] {
    display: inline-block;
    font-size: 16px;
    font-family: sans-serif;
    background-color: black;
    color: white;
    border: 1px solid white;
}

#searchbox input[type=submit] {
    display: inline-block;
    text-align: center;
    font-size: 16px;
    font-family: sans-serif;
    background-color: #3f3f3f;
    color: white;
    border: 2px solid #d6d6d6;
}

#searchbox input[type=submit]:hover {
    background-color: #979797;
}

#toolbox {
    float: right;
    padding-left: 10px;
    padding-right: 10px;
}

#searchbox {
    float: right;
    padding-left: 10px;
    padding-right: 10px;
}

#page_top {
    margin-top: 50px;
    padding: 10px;
    background-color: #666666;
}

#page_top > h1 {
    padding-left: 30px;
    font-family:sans-serif;
    color: white;
}

#content {
    min-height: 750px;
}

#content > p {
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    text-align: justify;
    font-family: sans-serif;
}

#privacy_notice {
    position: fixed;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    left: 5%;
    bottom: 5%;
    width: 90%;
    height: auto;
    line-height: auto;
    border-radius: 75px;
    border: 1px solid white;
    background-color: #262626;
}

#privacy_notice > p {
    display: inline;
    color: #dddddd;
    font-family: sans-serif;
}

#page_bottom {
    width: 100%;
    height: 240px;
    background-color: #404040;
}

#page_bottom_decorator {
    width: 100%;
    height: 30px;
    background-color: #9b9b9b;
    border-top: 5px solid white;
}

.page_bottom_container {
    float: left;
    width: 25%;
}

.page_bottom_list {
    list-style: none;
}

.page_bottom_list > li {
    color: #888888;
    height: 40px;
    line-height: 40px;
    text-align: center;
    margin: 10px;
    font-family: sans-serif;
    font-size: 18px;
    border: 2px solid #cccccc;
}

.page_bottom_list > li:hover {
    background-color: #bbbbbb;
}

.page_bottom_list li a {
    margin: 0px;
    display: block;
    color: #888888;
    text-decoration: none;
    width: 100%;
    height: 100%;
}
