body {
    background-color: white;
}

#topbar {
    background-color: #4dc3ff;
    border-bottom: 5px solid black;
}

#topbar_functions {
    /**/
}

#topbar_functions_list {
    /**/
}

#topbar_functions_list > li {
    color: darkblue;
    font-family: sans-serif;
}

#topbar_functions_list > li:hover {
    background-color: white;
}

#topbar_functions_list li a {
    color: darkblue;
}

#searchbox {
    /**/
}

#searchbox input[type=text] {
    font-family: sans-serif;
    background-color: white;
    color: black;
    border: 1px solid black;
}

#searchbox input[type=submit] {
    font-family: sans-serif;
    background-color: #00aaff;
    color: black;
    border: 2px solid #004466;
}

#searchbox input[type=submit]:hover {
    background-color: #cceeff;
}

#page_top {
    background-color: #99ffff;
}

#page_top > h1 {
    font-family:sans-serif;
    color: black;
}

#content {
    /**/
}

#content > p {
    color: black;
    font-family: sans-serif;
}

#privacy_notice {
    border: 2px solid black;
    background-color: #ff9999;
}

#privacy_notice > p {
    color: black;
    font-family: sans-serif;
}

#page_bottom {
    background-color: #0099cc;
}

#page_bottom_decorator {
    background-color: #004d99;
    border-top: 5px solid black;
}

.page_bottom_container {
    /**/
}

.page_bottom_list {
    /**/
}

.page_bottom_list > li {
    color: black;
    font-family: sans-serif;
    border: 2px solid #007399;
}

.page_bottom_list > li:hover {
    background-color: #b3ecff;
}

.page_bottom_list li a {
    color: black;
}

/* - Toolbox-specific customizations - */

#toolbox {
    border: 3px solid #b3e6ff;
}

#toolbox_cover {
    /**/
}

#toolbox_cover:hover {
    background-color: white;
    opacity: 0.5;
}

#toolbox > p {
    color: darkblue;
    font-family: sans-serif;
}

#toolbox_options {
    background-color: #0077b3;
    border: 5px solid black;
}

#toolbox_options > p {
    font-family: sans-serif;
    color: black;
}

div.tool {
    border-top: 2px solid white;
    border-bottom: 2px solid white;
}

p.tool {
    font-family: sans-serif;
    color: black;
}
