body {
    background-color: black;
}

#topbar {
    background-color: #444444;
    border-bottom: 5px solid white;
}

#topbar_functions {
    /**/
}

#topbar_functions_list {
    /**/
}

#topbar_functions_list > li {
    color: #dddddd;
}

#topbar_functions_list > li:hover {
    background-color: #cccccc;
}

#topbar_functions_list li a {
    color: #dddddd;
}

#searchbox {
    /**/
}

#searchbox input[type=text] {
    background-color: black;
    color: white;
    border: 1px solid white;
}

#searchbox input[type=submit] {
    background-color: #3f3f3f;
    color: white;
    border: 2px solid #d6d6d6;
}

#searchbox input[type=submit]:hover {
    background-color: #979797;
}

#page_top {
    background-color: #666666;
}

#page_top > h1 {
    color: white;
}

#content {
    /**/
}

#content > p {
    color: white;
}

.content_button {
    background-color: #474747;
    border: 2px solid #d6d6d6;
    color: #f8f8f8;
}

#privacy_notice {
    border: 2px solid white;
    background-color: #262626;
}

#privacy_notice > p {
    color: #dddddd;
}

#page_bottom {
    background-color: #404040;
}

#page_bottom_decorator {
    background-color: #9b9b9b;
    border-top: 5px solid white;
}

.page_bottom_container {
    /**/
}

.page_bottom_list {
    /**/
}

.page_bottom_list > li {
    color: #888888;
    border: 2px solid #cccccc;
}

.page_bottom_list > li:hover {
    background-color: #bbbbbb;
}

.page_bottom_list li a {
    color: #888888;
}

/* - Toolbox-specific customizations - */

#toolbox {
    border: 3px solid #cccccc;
}

#toolbox_cover {
    /**/
}

#toolbox_cover:hover {
    background-color: white;
    opacity: 0.5;
}

#toolbox > p {
    color: white;
}

#toolbox_options {
    background-color: #444444;
    border: 5px solid white;
}

#toolbox_options > p {
    color: white;
}

div.tool {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

p.tool {
    color: white;
}
