{% extends "groundfloor/root.html" %}

{% block title %}
Login (Firstfloor)
{% endblock title %}

{% block topnotice %}
{% if messages %}
{% for message in messages %}
<p>{{ message }}</p>
{% endfor %}
{% endif %}
{% if error %}
<p>{{ error }}</p>
{% endif %}
{% endblock topnotice %}

{% block pagetitle %}
<h1>Website Title (Firstfloor) - Login</h1>
{% endblock pagetitle %}

{% block content %}
<p>Log in here.</p>
{% include "firstfloor/login_prompt.html" %}
<p>Upon logging in, you'll be redirected to your general profile page,
or to the site you attempted to visit earlier.</p>
{% endblock content %}

{% block bottomnotice %}
{% endblock bottomnotice %}

{% block sitescripts %}
{% endblock sitescripts %}
