<div id="login_box" class="login_container">
    <form id="login_form" action="{% url 'firstfloor:login' %}" method="post">
        {% csrf_token %}
        <label for="login-username">Username</label>
        <br>
        <input type="text" name="login-username" id="login-username" required>
        <br><br>
        <label for="login-password">Password</label>
        <br>
        <input type="password" name="login-password" id="login-password" required>
        <br><br>
        <input type="submit" value="Log In">
        <input type="hidden" value="{{ next }}" name="login-destination" id="login-destination">
    </form>
    <br>
    <a class="content_button" href="{% url 'firstfloor:new_account_prompt' %}">Create New Account</a>
    <br>
    <a class="content_button" href="{% url 'firstfloor:new_account_prompt' %}">Forgot Password?</a>
</div>
