{% extends "groundfloor/root.html" %}

{% block title %}
New Account (Firstfloor)
{% endblock title %}

{% block topnotice %}
{% endblock topnotice %}

{% block pagetitle %}
<h1>Website Title (Firstfloor) - New Account</h1>
{% endblock pagetitle %}

{% block content %}
<p>Create a new account here.</p>
{% include "firstfloor/new_account_prompt.html" %}
<p>Upon creating a new account, you'll be redirected to your general
profile page.</p>
{% endblock content %}

{% block bottomnotice %}
{% endblock bottomnotice %}

{% block sitescripts %}
{% endblock sitescripts %}
