{% extends "groundfloor/root.html" %}

{% block title %}
People (Firstfloor)
{% endblock title %}

{% block topnotice %}
{% endblock topnotice %}

{% block pagetitle %}
<h1>Website Title (Firstfloor) - People</h1>
{% endblock pagetitle %}

{% block content %}
<p>Other users can be found here. Those who have set themselves
private can still be found here, but most of their information
remains hidden.</p>
{% endblock content %}

{% block bottomnotice %}
{% endblock bottomnotice %}

{% block sitescripts %}
{% endblock sitescripts %}
