{% extends "groundfloor/root.html" %}

{% block title %}
Profile Overview (Firstfloor)
{% endblock title %}

{% block topnotice %}
{% endblock topnotice %}

{% block pagetitle %}
<h1>Website Title (Firstfloor) - Profile Overview</h1>
{% endblock pagetitle %}

{% block content %}
<p>Personal page of the user, and the default landing page
for the users upon logging in.</p>
{% endblock content %}

{% block bottomnotice %}
{% endblock bottomnotice %}

{% block sitescripts %}
{% endblock sitescripts %}
