<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="author" content="terratenff">
    <title>{% block title %}Root Title{% endblock title %}</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-animate.min.js"></script>
</head>
<body>
    <div id="topbar">
        <div id="topbar_functions">
            <ul id="topbar_functions_list">
                <li>Home</li>
                <li>Profile</li>
                <li>People</li>
                <li>Groups</li>
                <li>Forum</li>
                <li>Events</li>
            </ul>
        </div>
        <div id="searchbox">
            <p>Add search bar here</p>
        </div>
        <div id="toolbox">
            <p>Add tools here</p>
        </div>
    </div>
    <div id="page_top">
        <h1>Website Title</h1>
    </div>

    <div id="privacy_notice">
        <script>
        function dismiss() {
            var element = document.getElementById("privacy_notice");
            element.parentNode.removeChild(element);
        }
        </script>
        <p>By using this website, you agree to be aware that this site
            stores a cookie for toggling "dark mode". </p>
        <input type="button" value="Dismiss" onclick="dismiss()"/>
    </div>

    <div id="content">
        <p>Add content here</p>
        {% block testblock %}
        <p>Root HTML</p>
        {% endblock testblock %}
        <input
            type="checkbox"
            id="darkmode"
            name="darkmode"
            value="cssmode"
            onclick="toggleDarkMode()">
            <label for="checkbox"> Dark Mode</label>
        </input>
    </div>

    <div id="page_bottom">
        <div class="page_bottom_container">
            <ul class="page_bottom_list">
                <li>Home</li>
                <li>Profile</li>
                <li>About</li>
                <li>Contact</li>
            </ul>
        </div>
        <div class="page_bottom_container">
            <ul class="page_bottom_list">
                <li>Help</li>
                <li>Rules</li>
                <li>Guidelines</li>
                <li>Report Abuse</li>
            </ul>
        </div>
        <div class="page_bottom_container">
            <ul class="page_bottom_list">
                <li>Privacy Policy</li>
                <li>Feedback</li>
                <li>Customer Support</li>
                <li>Report a Bug</li>
            </ul>
        </div>
    </div>

    {% load static %}
    <script src="{% static 'firstfloor/js/cookie_functions.js' %}"></script>
</body>
</html>
