{% load static %}
<!DOCTYPE HTML>
<html data-ng-app="app">
<head>
    <meta charset="utf-8">
    <meta name="author" content="terratenff">
    <title>{% block title %}Root Title{% endblock title %}</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-animate.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'groundfloor/css/general.css' %}">
    <script src="{% static 'secondfloor/js/toolbox_functions/app.js' %}"></script>
    <script src="{% static 'secondfloor/js/toolbox_functions/services.js' %}"></script>
    <script src="{% static 'secondfloor/js/toolbox_functions/controllers.js' %}"></script>
</head>
<body>
    <div id="topbar">
        <div id="topbar_functions">
            <ul id="topbar_functions_list">
                <li><a href="{% url 'index' %}">Home</a></li>
                <li><a href="{% url 'profile' %}">Profile</a></li>
                <li><a href="{% url 'people' %}">People</a></li>
                <li><a href="{% url 'groups' %}">Groups</a></li>
                <li><a href="{% url 'forum' %}">Forum</a></li>
                <li><a href="{% url 'events' %}">Events</a></li>
                {% if user.is_authenticated %}
                <li><a href="{% url 'login' %}">Log Out</a></li>
                {% else %}
                <li><a href="{% url 'login' %}">Log In</a></li>
                {% endif %}
            </ul>
        </div>
        <div id="searchbox">
            <form
                action="{% url 'search' %}"
                method="get"
                id="searchform">
                <input type="text" placeholder="Search..." name="search">
                <input type="submit" value="Search">
            </form>
        </div>
        <div id="toolbox" data-ng-controller="ToolboxCtrl">
            <div id="toolbox_cover" data-ng-click="viewOptions()"></div>
            <p>{% verbatim %}{{ frontText }}{% endverbatim %}</p>
            <div id="toolbox_options" data-ng-show="visible">
                <!--<p>Add various tools here</p>-->
                <div class="tool" data-ng-controller="NumberConverterCtrl">
                    <p class="tool">Number Converter</p>
                    <br>
                    <table style="width:100%;">
                        <tr>
                            <td>
                                <p class="tool">Number</p>
                            </td>
                            <td>
                                <input type="text" style="float:right;" data-ng-model="userInput" data-ng-change="changed()">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p class="tool">Initial base</p>
                            </td>
                            <td>
                                <input type="number" style="float:right;" value="10" min="2" max="36" data-ng-model="userInputBaseA" data-ng-change="baseA()">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p class="tool">Result base</p>
                            </td>
                            <td>
                                <input type="number" style="float:right;" value="16" min="2" max="36" data-ng-model="userInputBaseB" data-ng-change="baseB()">
                            </td>
                        </tr>
                    </table>
                    <br>
                    <p class="tool">Results: </p>
                    <p class="tool">{% verbatim %}{{ userOutput }}{% endverbatim %}</p>
                </div>
                <br>
                <div class="tool" data-ng-controller="Base64Ctrl">
                    <p class="tool">Base64-Cipher</p>
                    <br>
                    <table style="width:100%;">
                        <tr>
                            <td width="50%">
                                <p class="tool">Encode Text</p>
                            </td>
                            <td>
                                <input type="text" style="float:right;" data-ng-model="userInputEncode" data-ng-change="changedEncode()">
                            </td>
                        </tr>
                        <tr><td colspan="2"><p class="tool">{% verbatim %}{{ resultEncode }}{% endverbatim %}</p></td></tr>
                        <tr>
                            <td width="50%">
                                <p class="tool">Decode Text</p>
                            </td>
                            <td>
                                <input type="text" style="float:right;" data-ng-model="userInputDecode" data-ng-change="changedDecode()">
                            </td>
                        </tr>
                        <tr><td colspan="2"><p class="tool">{% verbatim %}{{ resultDecode }}{% endverbatim %}</p></td></tr>
                    </table>
                </div>
                <br>
                <div class="tool" data-ng-controller="CaesarCtrl">
                    <p class="tool">Caesar Cipher</p>
                    <br>
                    <table style="width:100%;">
                        <tr>
                            <td>
                                <p class="tool">Subject Text</p>
                            </td>
                            <td>
                                <input type="text" style="float:right;" data-ng-model="userInput" data-ng-change="changed()">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p class="tool">Caesar Shift</p>
                            </td>
                            <td>
                                <input type="number" style="float:right;" value="3" min="0" max="26" data-ng-model="userInputShift" data-ng-change="shift()">
                            </td>
                        </tr>
                    </table>
                    <br>
                    <p class="tool">Results:</p>
                    <p class="tool">{% verbatim %}{{ result }}{% endverbatim %}</p>
                </div>
                <br>
                <div class="tool">
                    <p class="tool">Aesthetic Settings</p>
                    <input type="button" value="Toggle Dark Mode" onclick="toggleDarkMode()"/>
                </div>
            </div>
        </div>
    </div>
    <div id="page_top">
        {% block pagetitle %}
        <h1>Website Title</h1>
        {% endblock pagetitle %}
    </div>

    <div id="content">
        {% block content %}
        <p>Root HTML</p>
        {% endblock content %}
    </div>

    <div id="page_bottom_decorator"></div>
    <div id="page_bottom">
        <div class="page_bottom_container">
            <ul class="page_bottom_list">
                <li><a href="{% url 'index' %}">Home</a></li>
                <li><a href="{% url 'profile' %}">Profile</a></li>
                <li><a href="{% url 'about' %}">About</a></li>
                <li><a href="{% url 'contact' %}">Contact</a></li>
            </ul>
        </div>
        <div class="page_bottom_container">
            <ul class="page_bottom_list">
                <li><a href="{% url 'help' %}">Help</a></li>
                <li><a href="{% url 'rules' %}">Rules</a></li>
                <li><a href="{% url 'guidelines' %}">Guidelines</a></li>
                <li><a href="{% url 'reportabuse' %}">Report Abuse</a></li>
            </ul>
        </div>
        <div class="page_bottom_container">
            <ul class="page_bottom_list">
                <li><a href="{% url 'privacypolicy' %}">Privacy Policy</a></li>
                <li><a href="{% url 'feedback' %}">Feedback</a></li>
                <li><a href="{% url 'customersupport' %}">Customer Support</a></li>
                <li><a href="{% url 'reportbug' %}">Report a Bug</a></li>
            </ul>
        </div>
    </div>

    <script type="text/javascript" src="{% static 'groundfloor/js/cookie_functions.js' %}"></script>
    <script type="text/javascript" src="{% static 'groundfloor/js/dark_mode.js' %}"></script>
    <script type="text/javascript" src="{% static 'groundfloor/js/privacy_notice.js' %}"></script>
</body>
</html>
